@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 50%;
    margin: 40px 60px 40px 60px;
    background-color: darkseagreen;
    padding: 20px;
}
.container p{
    color: rgb(78, 76, 78);
}
.vip{
    color: chocolate;
}
.form-style{
    background-color: aquamarine;
    width: 250px;
    margin-left: 40px;
}
.form-style input{
    margin: 20px 10px ;
}
.form-style h2{
    padding: 20px;
}